@model ReviseApplication.Models.LoginDetails

@{
    Layout = "~/Views/Shared/empty_layout.cshtml";
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login - Revise Application</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #E8E8E8;
        }

        .panel-heading {
            padding: 5px 15px;
        }

        .panel-footer {
            padding: 1px 15px;
            color: #A0A0A0;
        }

        .profile-img {
            height: 95px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 40%;
            -webkit-border-radius: 40%;
            border-radius: 40%;
        }
    </style>
</head>
<body>
    @if (TempData["EmptyLogin"] != null)
    {
        <p class="alert alert-danger" id="failedMessage">@TempData["EmptyLogin"]</p>
    }
    @if (TempData["UserLogin"] != null)
    {
        <p class="alert alert-danger" id="failedMessage">@TempData["UserLogin"]</p>
    }
    @if (TempData["FailedLogin"] != null)
    {
        <p class="alert alert-danger" id="failedMessage">@TempData["FailedLogin"]</p>
    }
    @if (TempData["UserName"] != null)
    {
        <p class="alert alert-danger" id="failedMessage">@TempData["UserName"]</p>
    }
    @if (TempData["Unknown"] != null)
    {
        <p class="alert alert-danger" id="failedMessage">@TempData["Unknown"]</p>
    }
</body>
</html>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" ng-controller="mainController">
        <br /><br /><br />
        <div class="row">
            <div class="col-md-4 center-block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Sign in</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="center-block">
                                <img class="profile-img" src="~/css/revise.jpg" />
                            </div>
                            <div class="col-lg-12">
                                <form id="login-form" method="post" role="form" ng-show="!registered" ng-submit="login()">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                            @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <br />
                                    <p></p>
                                    <div class="form-group">
                                        <input type="submit" value="Sign in" class="btn btn-lg btn-primary btn-block" />
                                    </div>
                                </form>
                                <div>
                                    @Html.ActionLink("Forgot password?", "RenewPass", "Authentication")
                                </div>
                                <div>
                                    @Html.ActionLink("Register Now", "Registration", "Authentication", new
                                    {
                                        @class = "t-button",
                                        @style = "width:500px; text-align:center"
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

