
@model ReviseApplication.Models.AssignToProj

@{
                /**/

                Layout = "~/Views/Shared/my_layout.cshtml";
                ViewBag.Title = "AssignToproj";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            display: table-row;
        }

        td, tr {
            text-align: center;
        }
    </style>
</head>
<body>
    @section TitleSection{
        Assign users to project
        @Convert.ToString(Session["projectName"])
    }

    @section ContentBody{

        @using (Html.BeginForm())
        {
            <h1>
                Assign users to project:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Convert.ToString(Session["projectName"])
            </h1>
            <div class="row layout-align-center">
                <div class="table">
                    <table class="table">
                        <tr class="active">
                            <td></td>
                            <td>
                                <b>
                                    Member Name
                                </b>
                            </td>
                            <td>
                                <b>
                                    Department
                                </b>
                            </td>
                            <td>
                                <b>
                                    Role To Assign
                                </b>
                            </td>
                        </tr>
                        @foreach (var member in ViewBag.memberslist)
                        {
                            <tr>
                                <td>
                                    <img class="img-circle" src="@member.pic" width="60" height="60" alt="">
                                </td>
                                <td>
                                    @member.UserName
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            @Html.DropDownListFor(x => Model.SelectedDepartment, new SelectList(Model.Departments, "Value", "Text"), htmlAttributes: new { @class = "form-control cols-sm-2", style = "height: 30px;", id = "Department" })
                                            @Html.ValidationMessageFor(x => x.SelectedDepartment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            @Html.DropDownListFor(x => Model.SelectedRole, new SelectList(Model.Roles, "Value", "Text"), htmlAttributes: new { @class = "form-control", style = "height: 30px;", id = "Role" })
                                            @Html.ValidationMessageFor(x => x.SelectedRole, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <br />
                <div class="row col-lg-4">
                    <button type="submit" value="Assign" class="btn btn-primary btn-md btn-block">Assign Members</button>
                </div>
            </div>

        }

    }
    @section Scripts{
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>






