@model ReviseApplication.Models.CreateProj
@{
    Layout = "~/Views/Shared/my_Layout.cshtml";
    ViewBag.Title = "Create New Project";
}
@section TitleSection{
    Project @Convert.ToString(Session["projectName"])
}

<!DOCTYPE html>
<html lang="en">

<body>
    @section ContentBody{
        @if (TempData["FailedProj"] != null)
        {
            <p class="alert alert-danger" id="failedMessage">@TempData["FailedProj"]</p>
        }
        @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong>@ViewBag.Message
                </div>
            }
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="main-center">
                    <h1> Create New Project</h1>
                </div>

                <div class="layout-align-center">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
                    <div class="form-group">
                        @Html.LabelFor(x => Model.projname, htmlAttributes: new { @class = "control-label cols-sm-2" })
                        <div class="input-group col-lg-4">
                            <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.projname, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.projname, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => Model.projdesc, htmlAttributes: new { @class = "control-label cols-sm-2" })
                        <div class="input-group col-lg-4">
                            <span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            <textarea class="form-control text-box single-line" data-val="true" data-val-length="Maximum length of 3000 characters" data-val-length-max="3000" data-val-required="Please enter project description" id="projdesc" name="projdesc" value="" rows="6"></textarea>
                        </div>
                        @Html.ValidationMessageFor(model => model.projdesc, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => Model.SelectedUser, htmlAttributes: new { @class = "control-label cols-sm-2" })
                        <div class="input-group">
                            <div class="row layout-align-center">
                                <span class="input-group-addon" style="width:auto;"><i class="fa fa-users" aria-hidden="true"></i></span>
                                @Html.ListBoxFor(model => model.SelectedUser, Model.Users, new { @class = "col-lg-3", style = "height:105px;" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => Model.SelectedUser, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row layout-align-center">
                    <div>
                        <a href="@Url.Action("ProjectMain", "Project")" class="btn btn-default btn-md" style="border:none; width:110px;">
                            <i class="fa fa-chevron-circle-left"></i>
                            <span>Back</span>
                        </a>
                    </div>
                    <div class="form-group col-md-2">
                        <button type="submit" value="Create" class="btn btn-primary btn-md btn-block login-button">Create</button>
                    </div>
                </div>

                if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger">
                        <strong>Error!</strong>@ViewBag.Message
                    </div>
                }
            }
        }
    }
    @section Scripts{
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>
