@model ReviseApplication.Models.Gamfication
@{
    Layout = "~/Views/Shared/my_layout.cshtml";
    ViewBag.Title = "Gamification";
}
@section TitleSection{
    Project @Convert.ToString(Session["projectName"])
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            display: table-row;
        }
    </style>

</head>
<body>
    @section ContentBody{
        @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong>@ViewBag.Message
                </div>
            }
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="main-center">
                    <h1>Choose Gamification</h1>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.ValidationMessage("CredentialError", new { style = "color:red;" })

                <table class="table">
                    <tr>
                        <th>
                            @Html.LabelFor(x => Model.projname, htmlAttributes: new { @class = "control-label" })
                        </th>
                        <td>
                            <b>
                                @Html.DisplayFor(model => model.projname, new { htmlAttributes = new { @class = "form-control" } })
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.SelectedGame, new { htmlAttributes = new { @class = "control-label" } })
                        </th>
                        <td>
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.DropDownListFor(x => Model.SelectedGame, new SelectList(Model.Gamification, "Value", "Text"), htmlAttributes: new { @class = "form-control cols-sm-2", style = "height: 35px;", id = "Gamification" })
                                    @Html.ValidationMessageFor(x => x.SelectedGame, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <br />
                <div class="row layout-align-center">
                    <div>
                        <a href="@Url.Action("ProjectMain", "Project")" class="btn btn-default btn-md" style="border:none; width:110px;">
                            <i class="fa fa-chevron-circle-left"></i>
                            <span>Back</span>
                        </a>
                    </div>
                    <div class="form-group col-md-2  col-sm-offset-1">
                        <button type="submit" value="Set" class="btn btn-primary btn-md btn-block">Set</button>
                    </div>
                </div>
                if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger">
                        <strong>Error!</strong>@ViewBag.Message
                    </div>
                }
            }
        }
    }
    @section Scripts{
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>
