@model IEnumerable<ReviseApplication.Models.projectModel>

<html>
<head>
    <style>
        table {
            display: table-row;
        }

        td {
            text-align: center;
        }

        th {
            color: darkblue;
            text-align: center;
        }
    </style>
</head>
<body>
    @if (TempData["emptyIDprj"] != null)
    {
        <p class="alert alert-warning" id="failedMessage">@TempData["emptyIDprj"]</p>
    }
    @if (TempData["NoInfoChanges"] != null)
    {
        <p class="alert alert-warning" id="failedMessage">@TempData["NoInfoChanges"]</p>
    }
    @if (TempData["UserExist"] != null)
    {
        <p class="alert alert-warning" id="failedMessage">@TempData["UserExist"]</p>
    }
    @if (TempData["Unknown"] != null)
    {
        <p class="alert alert-warning" id="failedMessage">@TempData["Unknown"]</p>
    }
    @if (TempData["NoChanges"] != null)
    {
        <p class="alert alert-warning" id="failedMessage">@TempData["NoChanges"]</p>
    }
    @using ReviseApplication.Models;
    @*
        @{
            if ((Session["UserName"] == null) || (Convert.ToString(Session["UserName"]) == ""))
            {
                FormsAuthentication.SignOut();
                Response.Redirect("~/Authentication/Login");
            }
        }*@

    @{
        Layout = "~/Views/Shared/my_layout.cshtml";
    }

    @section TitleSection{
        My Projects
    }

    @section ContentBody{
        <br />
        <div class="table">
            <h1>My Projects List:</h1>
            <div class="row layout-align-center">
                <div class="col-lg-3">
                    <div id="imaginary_container">
                        @using (Html.BeginForm())
                        {
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control" name="txtfind" id="txtfind" placeholder="Search for project">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                @if (Convert.ToBoolean(Session["IsAdmin"]))
                {
                    <div>
                        @Html.ActionLink("Create New Project", "CreateProj", null, new { @role = "button", @class = "btn btn-success" })
                    </div>
                }

            </div>
            <br />
            <table class="table  table-responsive-lg">
                <tr class="active">
                    <th>
                        Project Name
                    </th>
                    <th>
                        Creation Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Score
                    </th>
                    <th>
                        Participants
                    </th>
                    <th></th>
                </tr>
                @{
                    var i = 0;
                }

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            <a href="@Url.Action("CategoryMain", "Category", new { id = item.projid, name = item.projname}, Request.Url.Scheme)">@item.projname</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.score)
                        </td>

                        <td style="text-align: left;">
                            @{
                                List<IEnumerable<projUser>> mpp = (List<IEnumerable<projUser>>)Session["members"];
                                List<projUser> pm = mpp[i].ToList();

                                foreach (var m1 in pm)
                                {
                                    <a @*href="~/Members/details/@m1.MemberId.MemberId"*@>
                                        <img class="img-circle" src="@m1.user.pic" width="30" height="30" alt="">
                                    </a>
                                }

                            }

                        </td>

                        <td nowrap>
                            @Html.ActionLink(" ", "ProjectDetails", "Project", new { id = item.projid }, new { @role = "button", @class = "btn btn-primary glyphicon glyphicon-info-sign" })
                            @if (Convert.ToBoolean(Session["IsAdmin"]) || item.MemberRole == 6)
                            {
                                <label>
                                    @Html.ActionLink(" ", "EditProject", "Project", new { id = item.projid }, new { @role = "button", @class = "btn btn-success glyphicon glyphicon-pencil" })
                                    @Html.ActionLink(" ", "Gamification", "Project", new { id = item.projid }, new { @role = "button", @class = "btn btn-warning glyphicon glyphicon-king" })
                                    @Html.ActionLink(" ", "Delete", "Project", new { id = item.projid }, new { @role = "button", @class = "btn btn-danger glyphicon glyphicon-trash" })
                                </label>

                            }
                            @Html.ActionLink(" ", "ReqExport", "Project", new { id = item.projid }, new { @role = "button", @class = "btn glyphicon glyphicon-export", style = "background-color: darkgray; color: white" })
                        </td>
                    </tr>
                    i++;
                }

            </table>
        </div>

    }
</body>
</html>
