<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Revise Application</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootswatch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/angular-material.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/angular-aria.js"></script>
    <script src="~/Scripts/angular-material.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/bootstrap-toggle.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/views/angular.view.models.js"></script>

</head>
<body ng-app="mainModel" ng-controller="mainController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               <a href="#!top"> <img src="~/css/revise.jpg" style="max-height: 120px; max-width: 140px; padding: 0px 1px 1px 5px;" /></a>
                <a href="{{ UserConnectionUrl }}" class="navbar-brand" style="max-height: 120px !important"> <i class="fa {{ fontAwasomeUserName }}" aria-hidden="true"> </i> {{ UserConnectionText }}</a>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Revise S&R</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)
</body>
</html>
